<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventSource Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rxjs/6.5.2/rxjs.umd.js"></script>
</head>
<body>

<script>
    const { Observable } = rxjs;
    const observable = Observable.create(observer => {
        const eventSource = new EventSource('/test');
        eventSource.onmessage = x => observer.next(x.data);
        eventSource.onerror = x => observer.error(x);
        return () => {
            eventSource.close();
        };
    });

    observable.subscribe(
        e => console.log('Element: ', e),
        error => console.log('Error: ', error),
        () => console.log('HTTP request completed.')
    )
</script>

</body>
</html>
